@import "../vars.scss";

.box {
  @include tablet {
    width: 30rem;
  }

  padding: 2rem 2rem;
  border-radius: 1rem;
  border: 2px solid $slate-gray;
  background-color: $midnight-blue-transparent;

  .textarea-wrapper {
    textarea {
      width: 100%;
      background-color: transparent;
      border: none;
      color: $ghost-white;
      padding-top: 1rem;
      resize: none;
      border-radius: 0.5rem;
      font-weight: 700;
    }
  }

  &.text-from-box {
    .textarea-wrapper {
      .textarea-counter {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        color: $slate-gray;
        font-size: 0.7rem;

        &.error {
          color: $redish;
        }
      }
      position: relative;

      textarea {
        &.error {
          outline: 1px solid $redish;
        }
      }
    }
  }

  &.text-to-box {
  }
}
