@import './vars.scss';

#root {
  color: $ghost-white;

  main {
    background-image: url('./assets/images/hero_img.jpg');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    padding-inline: 1rem;

    display: grid;
    place-content: center;

    .logo {
      display: grid;
      place-content: center;

      img {
        width: 100%;
        max-width: 300px;
      }
    }

    .boxes {
      display: flex;
      gap: 1rem;
      margin-top: 5rem;

      flex-direction: column;

      @include desktop {
        flex-direction: row;
      }
    }
  }
}
